<div class="card">
    <div class="card-body">
            <div class="row">
                <span class="col-8"><span class="text-success">{{optionName}}</span> - <small>{{totalBets}} Bet(s) so far</small></span>
                <button mat-raised-button type="button" (click)="descrement()" class="btn btn-success btn-link btn-sm btn-just-icon">
                    <i class="material-icons">remove</i>
                </button>
                <button mat-raised-button type="button" class="btn btn-success btn-link btn-sm">
                    {{ count }}
                </button>
                <button mat-raised-button type="button" (click)="increment()" matTooltip="Remove" class="btn btn-success btn-link btn-sm btn-just-icon">
                    <i class="material-icons">add</i>
                </button>
             </div>
    </div>
</div>