<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Leaders</h4>
                        <p class="card-category"> Leaders of the league on the basis of total points earned</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                          Coming soon...
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>