<div class="card">
  <div class="card-header card-header-success">
    <h3 class="card-title">ADD YOUR BETS</h3>
    <p class="card-category">
      Click '+' or '-' against any option to add or remove bet(s)
    </p>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-9">
          <p class="card-category">Match #{{match.matchNumber}}</p>
          <h5 class="card-title" tooltip="{{match.homeTeam.name}} - {{match.awayTeam.name}}">{{match.homeTeam.shortName}} - {{match.awayTeam.shortName}}
            <small>on {{match.date | date: 'dd/MM'}}</small>
          </h5>
      </div>
      <div class="col-3 text-right">
          <p class="card-category">Points left</p>
          <h5 class="card-title text-success">{{pointsLeft  | number : '1.2-2' }}</h5>
      </div>
    </div>
    <table class="table">
        <thead class="text-success">
            <th class="text-left">Bet Option</th>
            <th class="text-center">Total Bet(s)</th>
            <th class="text-center">Add Your Bet(s)</th>
            <th class="text-center" tooltip="How much point you will win on your bet">Bet Odd</th>
        </thead>
        <tbody>
            <tr >
                <td class="text-left">{{match.homeTeam.shortName}} WINS</td>
                <td class="text-center">{{matchBet.homeBets}}</td>
                <td class="text-center"><app-add-control [count]="match.homeTeamBets" [maxCount]="pointsLeft" (valueChange)="homeTeamBetCountUpdated($event)"></app-add-control></td>
                <td class="text-center">{{homeBetOdd | number : '1.2-2'}}</td>
            </tr>
            <tr >
              <td class="text-left">{{match.awayTeam.shortName}} WINS</td>
              <td class="text-center">{{matchBet.awayBets}}</td>
              <td class="text-center"><app-add-control [count]="match.awayTemaBets" [maxCount]="pointsLeft" (valueChange)="awayTeamBetCountUpdated($event)"></app-add-control></td>
              <td class="text-center">{{awayBetOdd | number : '1.2-2'}}</td>
          </tr>
          <tr >
            <td class="text-left">MATCH DRAWS</td>
            <td class="text-center">{{matchBet.drawBets}}</td>
            <td class="text-center"><app-add-control [count]="match.drawBets" [maxCount]="pointsLeft" (valueChange)="drawBetCountUpdated($event)"></app-add-control></td>
            <td class="text-center">{{drawBetOdd | number : '1.2-2'}}</td>
        </tr>
            
        </tbody>
        <tfoot>
          <tr>
            <td></td>
            <td class="text-center text-success" tooltip="Total bets of this match">
                <button mat-raised-button type="button" class="btn btn-success btn-link btn-sm border">
                    {{matchBet.totalBets()}}
                </button>
            </td>
            <td class="text-center text-success" tooltip="Your total bets">
                <button mat-raised-button type="button" class="btn btn-success btn-link btn-sm border">
                    {{matchCopy.totalBets()}}
                </button>
            </td>
            <td class="text-center"></td>
          </tr>
        </tfoot>
    </table>
            <!-- <app-bet-option [optionName]="match.homeTeam.shortName + ' WINS'" [count]="match.homeTeamBets" [totalBets]="matchBet.homeBets" [maxCount]="pointsLeft" (valueChange)="homeTeamBetCountUpdated($event)"></app-bet-option>
            <app-bet-option [optionName]="match.awayTeam.shortName + ' WINS'" [count]="match.awayTemaBets" [totalBets]="matchBet.awayBets" [maxCount]="pointsLeft" (valueChange)="awayTeamBetCountUpdated($event)"></app-bet-option>
            <app-bet-option [optionName]="'MATCH DRAW'" [count]="match.drawBets" [totalBets]="matchBet.drawBets" [maxCount]="pointsLeft" (valueChange)="drawBetCountUpdated($event)"></app-bet-option> -->
  </div>
  <div class="card-footer">
      <button mat-raised-button type="submit" class="btn btn-success pull-right" (click)="hideModal()">Cancel</button>
      <span class="col-6"></span>
      <button mat-raised-button type="submit" class="btn btn-success pull-right" (click)="submit()">Submit</button>
  </div>
</div>
<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
