<div class="main-content">
    <div class="container-fluid">
        <!-- <div class="row"> -->
          <app-match-list></app-match-list>
          <div class="row" *ngIf="user.isLoggedIn()">
              <div class="col-lg-6 col-md-12">
                  <app-future-bets></app-future-bets>
              </div>
              <div class="col-lg-6 col-md-12">
                  <app-bet-results></app-bet-results>
              </div>
          </div>
          <div class="card" *ngIf="!user.isLoggedIn()">
            <div class="card-header card-header-success">
                <h3 class="card-title">Login with Google Account</h3>
                <p class="card-category">
                  Plese login wit your @qburst.com account. 
                </p>
            </div>
            <div class="card-body">
        <!-- </div> -->
    </div>
  </div>
  
