<!-- <div class="card card-stats">
    <div class="card-header card-header-info card-header-icon">
        <div class="card-icon">
            <i class="material-icons">info</i>
        </div>
    </div>
    <div class="card-body">
        <ul>
            <li></li>
        </ul>
    </div>
</div> -->
<owl-carousel
              [options]="options"
              [items]="allMatches"
              [carouselClasses]="['owl-theme', 'row', 'sliding']">
              <div class="item items" *ngFor="let match of allMatches;let i = index">
                  <div class="card card-stats">
                      <div class="card-header card-header-info">
                          <!-- <div class="card-icon"> -->
                              <!-- <i class="material-icons">content_copy</i>
                              <i class="material-icons">content_copy</i> -->
                              <!-- <div class="row">
                                <img src={{match.homeTeam.logouUrl()}} class="logo  col-6"/>
                                <img src={{match.awayTeam.logouUrl()}} class="logo col-6"/>
                              </div> -->
                              <div class="row justify-content-md-center h-100">
                                <h5 >Match #{{match.matchNumber}}
                                    <small>{{match.date | date: 'EEE dd/MM HH:mm'}}</small>
                                    </h5>
                              </div>
                              
                          <!-- </div> -->

                          <!-- <p class="card-category">Match #{{i}}</p>
                          <h5 class="card-title">ARG - GER
                              <small>Thu, 14/06</small>
                          </h5>
                        <p class="card-category">Match #{{match.matchNumber}}</p>
                            <h5 class="card-title">{{match.homeTeam.shortName}} - {{match.awayTeam.shortName}}
                                <small>{{match.date | date: 'dd/MM'}}</small>
                            </h5> -->
                      </div>
                      <div class="card-body">
                        <!-- <h5 >{{match.homeTeam.shortName}} - {{match.awayTeam.shortName}}</h5> -->
                        <div class="row justify-content-md-center h-100">
                            <!-- <img src={{match.homeTeam.logouUrl()}} class="logo col-3 border"/> -->
                            <div class="logo col-3">
                                <img src={{match.homeTeam.logouUrl()}} class=" shadow rounded"/>
                            </div>
                            <h5 class="col-5 text-center match-title" tooltip="{{match.homeTeam.name}} - {{match.awayTeam.name}}">{{match.homeTeam.shortName}} - {{match.awayTeam.shortName}}</h5>
                            <div class="logo col-3">
                                <img src={{match.awayTeam.logouUrl()}} class=" shadow rounded"/>
                            </div>
                        </div>
                      </div>
                      <div class="card-footer">
                          <div class="stats" *ngIf="!user.isLoggedIn()">
                              <i class="material-icons text-danger">warning</i>
                              <a >Login to BET</a>
                          </div>
                          <div class="stats" *ngIf="user.isLoggedIn() && match.canBet()">
                              <!-- <i class="material-icons text-success">add</i> -->
                              <a class="btn btn-white btn-round" (click)="openModal(template, match)">Add your BET</a>
                          </div>
                      </div>
                  </div>
              </div>
            </owl-carousel>
            <ng-template #template >
                <app-add-bet [match]="selectedMatch" (closePopup)="closeModalPopup()"></app-add-bet>
            </ng-template>
